{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<div class="about">
<center>
    <h1 style="color: black">About Me</h1>
</center>
    <h4 style="color: black">Mazen is a 17 years old teen born in a Cairo,Egypt, with experience and talents programming and graphic design.
        <h2 style="color: black">My Awards & Accomplishments:</h2>
        <h4 style="color: black">- One Million Arab Coders with a verified certificate from Udacity <br>
        - My powerpoint presentation ranked the 2nd on the El Nozha Educational Adminstration <br>
        - Making a Game using Kudo Application with a certificate<br>
        - Made a password locker application which can past my accounts' password whenever I forget <br>
        - Made this website <br>
    </h4>
</div>
{% endblock content %}