{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<!--================Blog Categorie Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Blog</h2>
                <div class="page_link">
                    <a href="/">Home</a>
                    <a href="/blog">Blog</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_categorie_area section_gap_top">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
              <div class="categories_post">
                  <img src="/static/blog/img/blog/cat-post/social.jpg" alt="post">
                  <div class="categories_details">
                      <div class="categories_text">
                          <h5>Social Life</h5>
                          <div class="border_line"></div>
                          <p>Enjoy your social life together</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="categories_post">
                  <img src="/static/blog/img/blog/cat-post/cat-post2.png" alt="post">
                  <div class="categories_details">
                      <div class="categories_text">
                          <h5>Technology</h5>
                          <div class="border_line"></div>
                          <p>Let's Change The World</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="categories_post">
                  <img src="/static/blog/img/blog/cat-post/motivation.jpg" alt="post">
                  <div class="categories_details">
                      <div class="categories_text">
                          <h5>Motivation</h5>
                          <div class="border_line"></div>
                          <p>Smile! You are Beautiful</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
<!--================Blog Categorie Area =================-->

<!--================Blog Area =================-->
<section class="blog_area">
  <div class="container">
      <div class="row">
          <div class="col-lg-8">
              <div class="blog_left_sidebar">
                  <article class="row blog_item">
                      <div class="col-md-3">
                          <div class="blog_info text-right">
                              

                             
                        </div>
                      </div>
                      <div class="col-md-9">
                        {% for post in posts %}
                          <div class="blog_post">
                              <img src="{{ post.image.url }}" alt="">
                              <div class="blog_details">
                                  <h2>{{ post.title }}</h2>
                                  <p>{{ post.content }}</p> 

                                  
                                  <!-- <a href="#" class="primary_btn" style="position: relative; top: -12px;">
                                    <span>View More</span></a>                                   -->
                                   {% endfor %}
                              </div>

                          </div>

                      </div>

                  </article>

                  <nav class="blog-pagination justify-content-center d-flex">
                      <ul class="pagination">
                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Previous">
                                  <span aria-hidden="true">
                                      <span class="lnr lnr-chevron-left"></span>
                                  </span>
                              </a>
                          </li>
                        
                        {% if is_paginated %}
                          {% if page_obj.has_previous %}
                            <li class="page-item"><a href="?page=1" class="page-link">01</a></li>
                            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <li class="page-item"><a href="?page={{ num }}" class="page-link">{{ num }}</a></li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}  
                                    <li class="page-item"><a href="?page={{ num }}" class="page-link"> {{ num }}</a></li>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                                <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" 
                                class="page-link">Latest</a></li>
                             {% endif %}
                        {% endif %}

                          <li class="page-item">
                              <a href="#" class="page-link" aria-label="Next">
                                  <span aria-hidden="true">
                                      <span class="lnr lnr-chevron-right"></span>
                                  </span>
                              </a>
                          </li>
                      </ul>
                  </nav>
              </div>
          </div>
          <div class="col-lg-4">
              <div class="blog_right_sidebar">
                  <aside class="single_sidebar_widget search_widget">
                      <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search Posts">
                          <span class="input-group-btn">
                              <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                          </span>
                      </div><!-- /input-group -->
                      <div class="br"></div>
                  </aside>
                  <aside class="single_sidebar_widget author_widget">
                      <img class="author_img rounded-circle" src="/static/blog/img/blog/author.png" alt="">
                      <h4>Mazen Omar</h4>
                      <p>Blog writer</p>
                      <div class="social_icon">
                          <a href="https://www.facebook.com/MazenOmarOfficial" target="_blanked"><i class="fa fa-facebook"></i></a>
                          <a href="https://dribbble.com/MazenOmar" target="_blanked"><i class="fa fa-dribbble"></i></a>
                          <a href="https://www.instagram.com/mazenomar_/" target="_blanked"><i class="fa fa-instagram"></i></a>
                      </div>
                      <div class="br"></div>
                  </aside>
                  <aside class="single_sidebar_widget popular_post_widget">
                      <h3 class="widget_title">Popular Posts</h3>
                      <div class="media post_item">
                         <div class="media post_item">
                          <img src="/static/blog/img/blog/popular-post/tedx.jpg" alt="post" width="50%">
                          <div class="media-body">
                              <h3>TEDx</h3>
                          </div>
                      </div>
                      <!-- <div class="media post_item">
                          <img src="/static/blog/img/blog/popular-post/post2.jpg" alt="post">
                          <div class="media-body">
                              <h3>The Amazing Hubble</h3>
                              <p>02 Hours ago</p>
                          </div>
                      </div>
                      <div class="media post_item">
                          <img src="/static/blog/img/blog/popular-post/post3.jpg" alt="post">
                          <div class="media-body">
                              <h3>Astronomy Or Astrology</h3>
                              <p>03 Hours ago</p>
                          </div>
                      </div>
                      <div class="media post_item">
                          <img src="/static/blog/img/blog/popular-post/post4.jpg" alt="post">
                          <div class="media-body">
                              <h3>Asteroids telescope</h3>
                              <p>01 Hours ago</p>
                          </div>
                      </div>
                      <div class="br"></div> -->
                  </aside>
                  <aside class="single_sidebar_widget ads_widget">
                      <a href="#"><img class="img-fluid" src="/static/blog/img/blog/add.jpg" alt=""></a>
                      <div class="br"></div>
                  </aside>
                  <aside class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Post Catgories</h4>
                      <ul class="list cat-list">
                          <li>
                              <a  class="d-flex justify-content-between">
                                  <p>Thankful</p>
                                  <p>1</p>
                              </a>
                          </li>
                          
                          <!-- <li> 
                              <a  class="d-flex justify-content-between">
                                  <p>Motivation</p>
                                  <p>1</p>
                              </a>
                           </li> -->
                          <!-- <li>
                              <a  class="d-flex justify-content-between">
                                  <p>Fashion</p>
                                  <p>59</p>
                              </a>
                          </li>
                          <li>
                              <a  class="d-flex justify-content-between">
                                  <p>Art</p>
                                  <p>29</p>
                              </a>
                          </li>
                          <li>
                            <a  class="d-flex justify-content-between">
                                <p>Motivation</p>
                                <p>46</p>
                            </a>
                        </li>
                        <li>
                            <a  class="d-flex justify-content-between">
                                <p>Health</p>
                                <p>32</p>
                            </a>
                        </li>																 
                      </ul> --> 
                      <div class="br"></div>
                  </aside>
                  <!-- <aside class="single-sidebar-widget newsletter_widget">
                      <h4 class="widget_title">Newsletter</h4>
                      <p>
                      Here, I focus on a range of items and features that we use in life without
                      giving them a second thought.
                      </p>
                      <div class="form-group d-flex flex-row">
                          <div class="input-group">
                              <div class="input-group-prepend">
                                  <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                              </div>
                              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                          </div>
                          <!-- <a href="#" class="bbtns">Subcribe</a> 
                      </div>	
                      <!-- <p class="text-bottom">You can unsubscribe at any time</p>	 
                      <div class="br"></div>							
                  </aside> -->
                  
              </div>
          </div>
      </div>
  </div>
</section>

{% endblock content %}
