{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<section class="home_banner_area">
  <div class="banner_inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="banner_content">
            <h3 class="text-uppercase">Hell0</h3>
            <h1 class="text-uppercase">I am mazen omar</h1>
            <h5 class="text-uppercase">and this is my website</h5>
            <div class="d-flex align-items-center">
              <a class="primary_btn" href="/contact"><span>Hire Me</span></a>
              <a class="primary_btn tr-bg" href="/static/blog/img/my-cv.pdf" download><span>Get CV</span></a>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="home_right_img">
            <img class="" src="/static/blog/img/banner/home-right.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Home Banner Area =================-->

<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="/static/blog/img/about/about-us.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>let’s <br>
            Introduce myself</h2>
          <p>
            Hello!
          </p>
          <p>
            I'm a 18 years old from Cairo, Egypt. I'am a student in AlFarouk Islamic Language School.
            I love programming and graphic designs. Here is the CV for more details
          </p>
          <a class="primary_btn" href="/static/blog/img/my-cv.pdf" download>
            <span>Download CV</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->


<!--================ Start Features Area =================-->
<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>service </h2>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="/static/blog/img/services/s1.png" alt="">
          <h4>Full Stack Wp devloper</h4>
          <p>Since 3 Years</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="/static/blog/img/services/s2.png" alt="">
          <h4>Graphic Design</h4>
          <p>That's my talent and I was graphic desinger since 13</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="/static/blog/img/services/s3.png" alt="">
          <h4>Reliable</h4>
          <p>Most of people trust me</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="/static/blog/img/services/s4.png" alt="">
          <h4>Fast</h4>
          <p>I can finish a lot of work in less time</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--================ End Features Area =================-->

<!--================Start Portfolio Area =================-->
<section class="portfolio_area" id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="main_title text-left">
          <h2>Some of done projects </h2>
          <p>Check The <a href="/portfolio" style="text-decoration: none; color: cornflowerblue;">Portfolio</a> 
            Page For More...</p>

        </div>
      </div>
    </div>
    <div class="filters portfolio-filter">
      <ul>
        <li class="active" data-filter="*">all</li>
        <li data-filter=".retouch">retouch</li>
        <li data-filter=".manipulation"> manipulation</li>
        <li data-filter=".cover">cover</li>
        <li data-filter=".art">art</li>
        <li data-filter=".upcoming">upcoming</li>
      </ul>
    </div>

    <div class="filters-content">
      <div class="row portfolio-grid justify-content-center">
        <div class="col-lg-4 col-md-6 all art">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p1.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p1.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>Beauty</h4>
              <p>Vexel Art</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all retouch ">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p2.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p2.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>InDescribable</h4>
              <p>Retouch</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all retouch manipulation">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p3.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p3.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>Shining Star</h4>
              <p>Art</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all retouch">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/SunShine.png" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/SunShine.png" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>sun Shine</h4>
              <p>Retouch</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all cover">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p5.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p5.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>Africa</h4>
              <p>Cover</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all manipulation">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p6.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p6.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>Magic Book</h4>
              <p>Manipulation</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all manipulation">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p7.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p7.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>Hey Moon<</h4>
              <p>Manipulation</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all art">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p8.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p8.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>Mo Salah</h4>
              <p>Drawing</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 all retouch">
          <div class="portfolio_box">
            <div class="single_portfolio">
              <img class="img-fluid w-100" src="/static/blog/img/portfolio/p9.jpg" alt="">
              <div class="overlay"></div>
              <a href="/static/blog/img/portfolio/p9.jpg" class="img-gal">
                <div class="icon">
                  <span class="lnr lnr-cross"></span>
                </div>
              </a>
            </div>
            <div class="short_info">
              <h4>Half Human</h4>
              <p>Retouch</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================End Portfolio Area =================-->

<!--================ Start Testimonial Area =================-->
<!-- <div class="testimonial_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>client say about me</h2>
          <p>It's my pleasure to be working with you</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="testi_slider owl-carousel">
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4">
                  <img src="/static/blog/img/testimonials/t1.jpg" alt="">
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Someone</h4>
                    <p>Blah blah blah</p>                  
                  </div>
                </div>
              </div>
            </div>
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4">
                  <img src="/static/blog/img/testimonials/t2.jpg" alt="">
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Someone</h4>
                    <p>Blah blah blah</p>                  
                  </div>
                </div>
              </div>
            </div>
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4">
                  <img src="/static/blog/img/testimonials/t1.jpg" alt="">
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Elite Martin</h4>
                <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4">
                  <img src="/static/blog/img/testimonials/t2.jpg" alt="">
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Davil Saden</h4>
                <p>Him, made can't called over won't there on divide there male fish beast own his day third seed sixth seas unto. Saw from </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4">
                  <img src="/static/blog/img/testimonials/t1.jpg" alt="">
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Someone</h4>
                <p>Blah blah blah</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="testi_item">
              <div class="row">
                <div class="col-lg-4">
                  <img src="/static/blog/img/testimonials/t2.jpg" alt="">
                </div>
                <div class="col-lg-8">
                  <div class="testi_text">
                    <h4>Someone</h4>
                    <p>Blah blah blah</p>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
  </div>
</div> -->
<!--================ Start Newsletter Area =================-->
{% endblock content %}
