{% extends "blog/base.html" %}

{% load static %}

    <link rel="stylesheet" type="text/css" href="/static/blog/main.css">
{% block content %}
{% for img in image%}

    <!-- <div class="responsive">
        <div class="polaroid">
            <img src="../../../static/blog/Magic-Book.jpg" alt="Project"width="100%">
                <div class="container">
                <p>Magic Book</p>
                </div>  
            </div>   
            <div class="polaroid">
                <img src="../../../static/blog/SS.jpg" alt="Project"width="100%">
                    <div class="container">
                    <p>Magic Book</p>
                    </div>  
                </div>  
                <div class="polaroid">
                    <img src="../../../static/blog/Beauty.png" alt="Project"width="100%">
                        <div class="container">
                        <p>Beauty</p>
                        </div>  
                    </div>    
                    <div class="polaroid">
                        <img src="../../../static/blog/Africa.jpg" alt="Project"width="100%">
                            <div class="container">
                            <p>Africia</p>
                            </div>  
                        </div>
                        <div class="polaroid">
                            <img src="../../../static/blog/Mo Salah.jpg" alt="Project"width="100%">
                                <div class="container">
                                <p>Mohamed Salah</p>
                                </div>  
                            </div>
                            <div class="polaroid">
                                <img src="/static/blog/All-In-One.jpg" alt="Project"width="100%">
                                    <div class="container">
                                    <p>All in One</p>
                                    </div>  
                                </div>     -->
        <div class="responsive">
            <div class="polaroid">
            <img src="{{img.Image}}" alt="Project"width="100%">
            <div class="container">
             <p>{{img.Title}}</p>
             </div>  
               </div>         
                      
        </div>
    {% endfor %}
{% endblock content %}